.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.width-100{
    width: 100%;
}

.flex-60{
    flex: 0 1 60%;
}
.flex-30{
    flex: 0 1 30%;
}
.flex-38{
    flex: 0 1 38%;
}
.flex-20{
    flex: 0 1 20%;
}
.flex-15{
    flex: 0 1 15%;
}


